@model Planetario.Models.MaterialModel

@{
    ViewBag.Title = "Materiales de actividad";
}
<html>
<body>
    <div id="container-titulo-materiales">
        <h1>@ViewBag.Actividad.Titulo </h1>
        <h4>@ViewBag.Actividad.TipoDeActividad</h4>
        <hr />
    </div>
    <div class="container-material-educativo">
        <div class="row">
            <div class="col-7">
                <h2>Material Educativo</h2>
            </div>
            <div class="col">
                <h5>Materiales recomendados</h5>
            </div>
        </div>
    </div>
    <div class="container-lista-materiales">
            @{ var contador = 0;
            foreach (var material in ViewBag.Materiales){
                <div class="row">
                    <div class="col-7">
                        <div class="card card-inicio border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="border-radius: 50px; max-height: 70%;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <a class="ver-material" style="text-align:right" href="~/Materiales/@material.NombreArchivo">@material.Titulo</a>
                                    </div>
                                    <div class="col">
                                         @Html.ActionLink("Descargar", "DescargarMaterial", "Material", new { direccionMaterial = "~/Materiales/" + @material.NombreArchivo }, new { @class = "btn btn-primary boton-material " })

                                    </div>
                                    <div class="col  text-center">
                                         <button class="btn btn-primary boton-material"  > <a style="color:white" href="~/Materiales/@material.NombreArchivo"> Ver</a> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     @foreach (var tuplaArchivoNombre in ViewBag.MaterialesRecomendados[contador]){
                        <div class="col">
                            <div class="card d-flex card-inicio text-center border-light  shadow  bg-white rounded" style="border-radius: 50px; min-height: 70%;max-height:110px ">
                                <div class="card-body align-items-center text-center d-flex justify-content-center align-content-center">
                                    <a class="h7" href=@Url.Action("DescargarMaterial", "Material", new { direccionMaterial = "~/Materiales/" + tuplaArchivoNombre.Item1})>@tuplaArchivoNombre.Item2</a>
                                </div>
                            </div>
                        </div>
                      }
                </div>
                ++contador;
                }
            }
    </div>
</body>
</html>
