
@model Planetario.Models.PreguntaModel

@{ 
    List<SelectListItem> listaTopicos = new List<SelectListItem>();
    List<string> listaTopicosString = ViewBag.TopicosTotales;
    foreach (string topico in listaTopicosString)
    {
        listaTopicos.Add(new SelectListItem { Text = topico });
    }
}

<html>
<head>

</head>

<body>

    @using (Html.BeginForm("CrearPregunta", "Preguntas", FormMethod.Post,
    new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <h1>Formulario de creación de preguntas</h1>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.PreguntaHecha)
                @Html.TextBoxFor(model => model.PreguntaHecha, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PreguntaHecha, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Respuesta)
                @Html.TextBoxFor(model => model.Respuesta, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Respuesta, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Topicos)
                @Html.ListBoxFor(model => model.Topicos, listaTopicos, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Topicos, "", new { @class = "text-danger" })
            </div>

            <input type="submit" class="btn btn-success" value="Crear" />
        </div>
    }
</body>

</html>