
@model Planetario.Models.TelescopiadaPeliculaModel
@{
    ViewBag.Title = "Crear Evento";
    List<SelectListItem> tipoEvento = new List<SelectListItem>() { new SelectListItem { Text = "Película" }, new SelectListItem { Text = "Telescopiada" } };

}
<html>
<head>
</head>
<body>
    @if (ViewBag.Message != null)
    {
        if (ViewBag.ExitoAlCrear)
        {
            <div class="alert-success">
                <h3> @ViewBag.Message </h3>
            </div>
        }
        else
        {
            <div class="alert-danger">
                <h3> @ViewBag.Message </h3>
            </div>
        }
    }
    @using (Html.BeginForm("CrearTelescopiadaPelicula", "TelescopiadaPelicula", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
<div class="form-horizontal formulario-edicion-funcionarios">
    <h1>Formulario de creación de evento</h1>
    <h5>Inserte los siguientes datos</h5>
    <h8>* Son campos obligatorios</h8>
    <hr />
    <div class="row">
        <div class="col">
            <div class="form-group">
                @Html.LabelFor(telescopiadaPeliculaModel => telescopiadaPeliculaModel.Tipo)
                @Html.DropDownListFor(telescopiadaPeliculaModel => telescopiadaPeliculaModel.Tipo, tipoEvento ,  new { @class = "form-select" })
                @Html.ValidationMessageFor(telescopiadaPeliculaModel => telescopiadaPeliculaModel.Tipo, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(telescopiadaPeliculaModel => telescopiadaPeliculaModel.Descripcion)
                @Html.TextAreaFor(telescopiadaPeliculaModel => telescopiadaPeliculaModel.Descripcion, new { @class = "form-control", @rows = "6" })
                @Html.ValidationMessageFor(telescopiadaPeliculaModel => telescopiadaPeliculaModel.Descripcion, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="col">
            <div class="form-group">
                @Html.LabelFor(telescopiadaPeliculaModel => telescopiadaPeliculaModel.Titulo)
                @Html.TextBoxFor(telescopiadaPeliculaModel => telescopiadaPeliculaModel.Titulo, new { @class = "form-control" })
                @Html.ValidationMessageFor(telescopiadaPeliculaModel => telescopiadaPeliculaModel.Titulo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(telescopiadaPeliculaModel => telescopiadaPeliculaModel.Fecha)
                @Html.TextBoxFor(telescopiadaPeliculaModel => telescopiadaPeliculaModel.Fecha, new { type = "datetime-local", @class = "form-control" })
                @Html.ValidationMessageFor(telescopiadaPeliculaModel => telescopiadaPeliculaModel.Fecha, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" style="padding-top: 25px;">

                @Html.LabelFor(telescopiadaPeliculaModel => telescopiadaPeliculaModel.Duracion)
                @Html.TextBoxFor(telescopiadaPeliculaModel => telescopiadaPeliculaModel.Duracion, new { @class = "form-control" })
                @Html.ValidationMessageFor(telescopiadaPeliculaModel => telescopiadaPeliculaModel.Duracion, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary boton-edicion-funcionarios" value="Guardar" style="float: right; margin-right: 20px;" />
    
</div>
    }
</body>

</html>


