<html>
<head>
</head>
<body>
    <div class="container">
        <div class="titulo-actividad">
            <h1>@ViewBag.TelescopiadaPelicula.Titulo - @ViewBag.TelescopiadaPelicula.Tipo</h1>
            <hr />
        </div>
        <table class="table table-secondary">
            <tbody>
                <tr>
                    <td>
                        <ul class="datos-actividad">
                            <li>Fecha: @ViewBag.TelescopiadaPelicula.Fecha</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="datos-actividad">
                            <li>Duración en minutos: @ViewBag.TelescopiadaPelicula.Duracion</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="descripcion-evento">
            <h3>Descripción:</h3>
            <p>
                @ViewBag.TelescopiadaPelicula.Descripcion
            </p>
        </div>
    </div>
</body>
</html>
