<body>
    @{
        ViewBag.Title = "Funcionarios";
    }
    <div class="contenedor-funcionarios container-fluid">
        <h1>Nuestros funcionarios</h1>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Foto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Título</th>
                        <th scope="col">Ocupación</th>
                        <th scope="col">Correo</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var funcionario in ViewBag.Funcionarios)
                    {
                    <tr>
                        <td class="funcionarios-subtitulos">
                            <img class="fotos-funcionarios" src="@Url.Action("AccederImagen", "Imagen", new { nombreImagen = funcionario.IdentificadorFoto })">
                        </td>
                        <td class="funcionarios-subtitulos">@funcionario.GetNombreCompleto()</td>
                        <td class="funcionarios-subtitulos">@funcionario.TituloAcademico</td>
                        <td class="funcionarios-subtitulos">@funcionario.Ocupacion</td>
                        <td class="funcionarios-subtitulos">@funcionario.Correo</td>

                        @if (Request.IsAuthenticated)
                        {
                            <td class="funcionarios-subtitulos">
                                @Html.ActionLink("Modificar información", "EditarFuncionario",
                                             new { identificador = funcionario.NumeroIdentificacion },
                                             new { @class = "btn btn alert-info boton-material", @style = "background-color: #000000; color: white", @onclick = "return confirm('¿Quiere modificar este funcionario?');" })
                            </td>
                        }
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        @if (Request.IsAuthenticated)
        {
        <a class="btn btn-primary boton-material" href="@Url.Action("CrearFuncionario", "Funcionarios")">Crear nuevo funcionario</a>
        }
        <a style="color:floralwhite" href="@Url.Action("CrearFuncionario", "Funcionarios")">aaa</a>
    </div>

</body>
