
@model PagedList.IPagedList<Planetario.Models.DatoReporteModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Reporte Avanzado De Compra";
    List<SelectListItem> Generos = new List<SelectListItem>() { new SelectListItem { Value = "Masculino", Text = "Masculino" }, new SelectListItem { Value = "Femenino", Text = "Femenino" }, new SelectListItem { Value = "NA", Text = "No especificado" } };
    List<SelectListItem> NivelEducativo = new List<SelectListItem>() { new SelectListItem { Text = "Primaria terminada" }, new SelectListItem { Text = "Secundaria terminada" }, new SelectListItem { Text = "Universidad terminada" }, new SelectListItem { Text = "Sin estudios terminados" } };
    List<SelectListItem> Dias = new List<SelectListItem>() { new SelectListItem { Text = "Todos" }, new SelectListItem { Text = "Lunes" }, new SelectListItem { Text = "Martes" }, new SelectListItem { Text = "Miércoles" }, new SelectListItem { Text = "Jueves" }, new SelectListItem { Text = "Viernes" }, new SelectListItem { Text = "Sábado" }, new SelectListItem { Text = "Domingo" } };
}
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div class="container-fluid" id="contenedor-principal-reporte">
    <h1>Reporte de compra avanzado</h1>
    <hr />
    <form id="filtrosFechas" action="/ReporteCompra/ReporteCompraAvanzado" method="get">
        @if (ViewBag.MensajeError != null)
        {
            <div class="row">
                <div class="alert-danger">
                    <h4>@ViewBag.MensajeError</h4>
                </div>
            </div>
        }
        <div class="row mt-4">
            <div class="col-3">
                <label for="fecha-inicio" class="form-label">Tipo reporte:</label>
                <div class="input-group mb-3">
                    <select id="tipoReporte" name="tipoReporte" onchange="ActualizarFiltrosReporte(this.value)" class="form-select rounded">
                        <option selected> </option>
                        <option value="comprasConjunto">Productos comprados en conjunto</option>
                        <option value="comprasTipoCliente">Productos comprados por tipo de cliente</option>
                    </select>
                </div>
            </div>
            <div class="col-2" id="nombre-producto" style="display:none">
                <label for="idProducto" class="form-label">Nombre del producto:</label>
                <div class="input-group mb-3">
                    @Html.DropDownList("idProducto", ViewData["Productos"] as List<SelectListItem>, " ", new { @class = "form-select rounded", @id = "idProducto" })
                </div>
            </div>
            <div class="col-2" id="nivel-educativo" style="display:none">
                <label for="nivelEducativo" class="form-label">Nivel educativo:</label>
                <div class="input-group mb-3">
                    @Html.DropDownList("nivelEducativo", NivelEducativo, " ", new { @class = "form-select rounded", @id = "nivelEducativo" })
                </div>
            </div>
            <div class="col-2" id="genero" style="display:none">
                <label for="genero" class="form-label">Género:</label>
                <div class="input-group mb-3">
                    @Html.DropDownList("genero", Generos, " ", new { @class = "form-select rounded" ,@id = "genero" })
                </div>
            </div>
            <div class="col-1 p-0 m-0" id="dia-semana" style="display:none">
                <label for="diaSemana" class="form-label">Día:</label>
                <div class="input-group mb-3">
                    @Html.DropDownList("diaSemana", Dias, new { @class = "form-select rounded pe-1", style = "padding-right:60px;", @id = "diaSemana" })
                </div>
            </div>
            <div class="col-2">
                <label for="fecha-inicio" class="form-label">Desde:</label>
                <div class="input-group mb-3">
                    <input type="datetime-local" class="form-control" id="fechaInicio" name="fechaInicio">
                </div>
            </div>
            <div class="col-2">
                <label for="fecha-fin" class="form-label">Hasta:</label>
                <div class="input-group mb-3">
                    <input type="datetime-local" class="form-control" id="fechaFinal" name="fechaFinal">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <button type="submit" class="btn btn-primary" style="border-radius:8px">Filtrar</button>
            </div>
            <div class="col-1">
                <a   class="btn btn-primary" href="@Url.Action("ReporteCompraAvanzado","ReporteCompra")" style="border-radius:8px">Limpiar</a>
            </div>
        </div>
    </form>
    @if (ViewBag.TipoReporte == "vacio")
    {
        <div class="container text-center" style="margin-top: 20vh; margin-bottom: 5vh">
            <h3>Por favor seleccione un filtro </h3>
        </div>
    }
    else
    {
        <div class="row mt-5">
            @if (ViewBag.TipoReporte == "comprasConjunto")
            {
                <h4>Mostrando: Productos comprados en conjunto</h4>
            }
            else if (ViewBag.TipoReporte == "comprasTipoCliente")
            {
                <h4>Mostrando: Productos comprados por tipo de cliente</h4>
            }
            <br>
            <p>
                <strong>Para:</strong>
                @if (ViewBag.TipoReporte == "comprasConjunto")
                {
                    @:&nbsp;@ViewBag.NombreProducto
                }
                else
                {
                    @:&nbsp; @ViewBag.Genero &nbsp; @ViewBag.NivelEducativo &nbsp; @ViewBag.Dia
                }
                &nbsp; Desde: @ViewBag.FechaInicio &nbsp; Hasta: @ViewBag.FechaFinal
            </p>
        </div>
        if (ViewBag.TipoReporte == "comprasConjunto")
        {
            <div class="row mt-5">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">@Html.ActionLink("Cantidad", "ReporteCompraAvanzado", new { tipoReporte = ViewBag.TipoReporte, idProducto = ViewBag.IdProducto, nivelEducativo = ViewBag.NivelEducativo, genero = ViewBag.Genero, diaSemana = ViewBag.DiaSemana, fechaInicio = ViewBag.FechaInicio, fechaFinal = ViewBag.FechaFinal, ordenamiento = "'Cantidad vendidos'" })</th>
                                <th scope="col">@Html.ActionLink("Nombre del producto","ReporteCompraAvanzado", new {tipoReporte = ViewBag.TipoReporte, idProducto = ViewBag.IdProducto, nivelEducativo = ViewBag.NivelEducativo, genero = ViewBag.Genero, diaSemana = ViewBag.DiaSemana, fechaInicio = ViewBag.FechaInicio, fechaFinal = ViewBag.FechaFinal, ordenamiento = "'Producto comprado'" })</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var datoReporteAvanzado in ViewBag.InformacionReporteAvanzado)
                            {
                                <tr>
                                    <td>@datoReporteAvanzado.CantidadDeUnidadesVendidas</td>
                                    <td>@datoReporteAvanzado.NombreProducto</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        }
        else if (ViewBag.TipoReporte == "comprasTipoCliente")
        {
            <div class="row mt-5">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">@Html.ActionLink("Cantidad", "ReporteCompraAvanzado", new { tipoReporte = ViewBag.TipoReporte, idProducto = ViewBag.IdProducto, nivelEducativo = ViewBag.NivelEducativo, genero = ViewBag.Genero, diaSemana = ViewBag.DiaSemana, fechaInicio = ViewBag.FechaInicio, fechaFinal = ViewBag.FechaFinal, ordenamiento = "'Cantidad vendidos'" })</th>
                                <th scope="col">@Html.ActionLink("Nombre del producto", "ReporteCompraAvanzado", new { tipoReporte = ViewBag.TipoReporte, idProducto = ViewBag.IdProducto, nivelEducativo = ViewBag.NivelEducativo, genero = ViewBag.Genero, diaSemana = ViewBag.DiaSemana, fechaInicio = ViewBag.FechaInicio, fechaFinal = ViewBag.FechaFinal, ordenamiento = "nombre" })</th>
                                <th scope="col">@Html.ActionLink("Género", "ReporteCompraAvanzado", new { tipoReporte = ViewBag.TipoReporte, idProducto = ViewBag.IdProducto, nivelEducativo = ViewBag.NivelEducativo, genero = ViewBag.Genero, diaSemana = ViewBag.DiaSemana, fechaInicio = ViewBag.FechaInicio, fechaFinal = ViewBag.FechaFinal, ordenamiento = "genero" })</th>
                                <th scope="col">@Html.ActionLink("Nivel Educativo", "ReporteCompraAvanzado", new { tipoReporte = ViewBag.TipoReporte, idProducto = ViewBag.IdProducto, nivelEducativo = ViewBag.NivelEducativo, genero = ViewBag.Genero, diaSemana = ViewBag.DiaSemana, fechaInicio = ViewBag.FechaInicio, fechaFinal = ViewBag.FechaFinal, ordenamiento = "nivelEducativo" })</th>
                                @if (ViewBag.DiaSemana != "Todos")
                                {
                            <th scope="col">@Html.ActionLink("Día", "ReporteCompraAvanzado", new { tipoReporte = ViewBag.TipoReporte, idProducto = ViewBag.IdProducto, nivelEducativo = ViewBag.NivelEducativo, genero = ViewBag.Genero, diaSemana = ViewBag.DiaSemana, fechaInicio = ViewBag.FechaInicio, fechaFinal = ViewBag.FechaFinal, ordenamiento = "'Día de la semana'" })</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var datoReporteAvanzado in ViewBag.InformacionReporteAvanzado)
                            {
                                <tr>
                                    <td>@datoReporteAvanzado.CantidadDeUnidadesVendidas</td>
                                    <td>@datoReporteAvanzado.NombreProducto</td>
                                    <td>@datoReporteAvanzado.Genero</td>
                                    <td>@datoReporteAvanzado.NivelEducativo</td>
                                    @if (ViewBag.DiaSemana != "Todos")
                                    {
                                        <td>@datoReporteAvanzado.DiaSemana</td>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
    <div class="container-fluid">
        <div class="container text-center">
            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
        </div>
        @Html.PagedListPager(Model, paginaActual => Url.Action("ReporteCompraAvanzado", new { paginaActual, tipoReporte = ViewBag.TipoReporte, idProducto = ViewBag.IdProducto, nivelEducativo = ViewBag.NivelEducativo, genero = ViewBag.Genero, diaSemana = ViewBag.DiaSemana, fechaInicio = ViewBag.FechaInicio, fechaFinal = ViewBag.FechaFinal, ordenamiento = ViewBag.Ordenamiento }))
    </div>
</div>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/ManejadorReporteCompraAvanzado.js"></script>
