

@model Planetario.Models.VisitanteModel
@{
    ViewBag.Title = "Inscripcion";
}
<html>
<head>
</head>
<body>
    @if (ViewBag.Message != null)
    {
        if (ViewBag.Exito)
        {
    <div class="alert-success">
        <h3> @ViewBag.Message </h3>
    </div>
        }
        else
        {
    <div class="alert-danger">
        <h3> @ViewBag.Message </h3>
    </div>
        }
    }
    @using (Html.BeginForm("VerificarInscripcionEnPlanetario", "Visitante", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {
    @Html.AntiForgeryToken()
    <div class="form-horizontal formulario-edicion-funcionarios">
        <h1>Formulario de inscripción de visitante</h1>
        @if (@ViewBag.Actividad != null)
    {
        <h3>@ViewBag.Actividad.Titulo</h3>
        <h3>Tiquetes a comprar: @ViewBag.Cupos</h3>
    }
        <hr />
        <div class="form-group">
            @Html.LabelFor(visitanteModel => visitanteModel.NumeroIdentificacion)
            @Html.TextBoxFor(visitanteModel => visitanteModel.NumeroIdentificacion, new { @class = "form-control" })
            @Html.ValidationMessageFor(visitanteModel => visitanteModel.NumeroIdentificacion, "", new { @class = "text-danger" })
        </div>
        @if (ViewBag.Actividad != null)
        {
        <div class="form-group" hidden>
            @Html.LabelFor(visitanteModel => visitanteModel.FechaActividadInscrita)
            @Html.TextBoxFor(visitanteModel => visitanteModel.FechaActividadInscrita, new { @Value = @ViewBag.Actividad.Fecha })
            @Html.ValidationMessageFor(visitanteModel => visitanteModel.FechaActividadInscrita, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" hidden>
            @Html.LabelFor(visitanteModel => visitanteModel.TituloActividadInscrita)
            @Html.TextBoxFor(visitanteModel => visitanteModel.TituloActividadInscrita, new { @Value = @ViewBag.Actividad.Titulo })
            @Html.ValidationMessageFor(visitanteModel => visitanteModel.TituloActividadInscrita, "", new { @class = "text-danger" })
        </div>
        }
        <div class="mb-3" style="display:none">
             <input type="hidden" id="tipoInscripcion" name="tipoInscripcion" value="@ViewBag.TipoInscripcion">
        </div>
        <div class="mb-3" style="display:none">
            <label for="cuposComprados" class="col-form-label">Fecha:</label>
            <input type="hidden" id="cuposComprados" name="cuposComprados">
        </div>

        <input type="submit" id ="continuarAPago" class="btn btn-primary boton-actividades" value="Continuar a pago" style="border-radius:10px" />
    </div>
    }
</body>

</html>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('option').mousedown(function (e) {
                e.preventDefault();
                var originalScrollTop = $(this).parent().scrollTop();
                console.log(originalScrollTop);
                $(this).prop('selected', $(this).prop('selected') ? false : true);
                var self = this;
                $(this).parent().focus();
                setTimeout(function () {
                    $(self).parent().scrollTop(originalScrollTop);
                }, 0);
                return false;
            });
        });
    </script>
}
<script type="text/javascript">
    document.getElementById("cuposComprados").value = "@ViewBag.Cupos";
</script>


