@using System.Text.RegularExpressions;
@using Newtonsoft.Json.Linq;

<html>
<body>
    <div class="container-fluid contenedor-cuerpo">
        <h1>Estadísticas de idiomas conocidos por funcionarios</h1>
        <hr />
        <div class="row">
            <div class="col-3">
                <div class="container contenedor-filtros ">
                    @using (Html.BeginForm("EstadisticasIdiomasFuncionarios", "Estadisticas", FormMethod.Post,
                    new { enctype = "multipart/form-data" })) {
                        @Html.AntiForgeryToken()

                        <h3>Filtrar por:</h3>
                        <div class="form-group" style="padding-left: 0">
                            <label for="idiomasSeleccionado">Idiomas</label>
                            @Html.DropDownList("Idiomas", ViewData["Idiomas"] as List<SelectListItem>, "---", new { @class = "form-select", @onchange = "agregarTagIdiomaEstadistica(this.value)" })
                        </div>
                        <input type="text" name="idiomasSeleccionado" id="idiomasSeleccionado" value="" style="display: none;" />
                        <div id="contenedor-idiomas-seleccionado"></div>
                        <input type="submit" class="btn btn-primary boton-flitrar" value="Filtrar" />
                    }
                </div>
            </div>
            <div class="col-9" style="float:right">
                @if (ViewBag.FuncionariosPorIdioma != null && ViewBag.FuncionariosPorIdioma != "")
                {
                    JArray FuncionariosPorIdioma = JArray.Parse(ViewBag.FuncionariosPorIdioma);
                    <h2>
                        @foreach (var idioma in ViewBag.idiomasSeleccionado)
                        {
                            if (idioma != "")
                            {
                                if (idioma != ViewBag.idiomasSeleccionado[0])
                                {
                                    @:-
                                }
                                @idioma
                            }
                        }
                    </h2>
                    if (ViewBag.idiomasSeleccionado.Length > 0)
                    {
                        <h3>Hablantes @FuncionariosPorIdioma.Count</h3>
                    }
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Número de Identificación</th>
                                    <th scope="col">Nombre Completo</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Número de Teléfono</th>
                                    <th scope="col">Idiomas Hablados</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (JObject funcionario in FuncionariosPorIdioma)
                                {
                                    var nombreCompleto = funcionario.GetValue("nombre").ToString();
                                    nombreCompleto += " " + funcionario.GetValue("primerApellido").ToString();
                                    nombreCompleto += " " + funcionario.GetValue("segundoApellido").ToString();
                                    <tr>
                                        <td class="funcionarios-subtitulos">@funcionario.GetValue("numeroDeIdentificacionPK").ToString()</td>
                                        <td class="funcionarios-subtitulos">@nombreCompleto</td>
                                        <td class="funcionarios-subtitulos">@funcionario.GetValue("correo").ToString()</td>
                                        <td class="funcionarios-subtitulos">@funcionario.GetValue("telefono").ToString()</td>
                                        <td class="funcionarios-subtitulos">@funcionario.GetValue("idiomasHablados")</td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="mensaje-falta-filtro-idioma">
                        <h2>No se ha seleccionado filtro</h2>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/SeleccionadorMultiple.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    let selectorMultipleIdiomas = new SeleccionadorMultiple("#contenedor-idiomas-seleccionado", "#idiomasSeleccionado");
</script>



