@using System.Text.RegularExpressions;
@using Newtonsoft.Json.Linq;
@{
    List<String> tipoPublicos = new List<string>() { "Infantil", "Juvenil", "Adulto", "Adulto mayor", "Especialistas en astronomía" };
    List<String> dificultades = new List<string>() { "Básico", "Intermedio", "Avanzado" };
    List<String> dias = new List<string>() { "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo" };
}

<html>
<body>
    <div class="container-fluid contenedor-cuerpo">
        <h1>Estadísticas de involucramiento en las actividades </h1>
        <hr />

        <div class="row">
            <div class="col-2">
                <div class="container contenedor-filtros ">
                    @using (Html.BeginForm("Estadisticas", "Estadisticas", FormMethod.Post,
                     new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3>Filtrar por:</h3>
                        <div class="form-check">
                            <input class="form-check-input dificultad checkbox-filtros" type="checkbox" id="checkAll" />
                            <label class="form-check-label" for="checkAll">
                                Seleccionar todos
                            </label>
                        </div>
                        <div class="form-horizontal">

                            <div class="filtros">
                                <h5>Público Meta</h5>
                                @foreach (var publico in tipoPublicos)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input publico-meta checkbox-filtros" type="checkbox" value="@publico" id="publico-@publico">
                                        <label class="form-check-label" for="publico-@publico">
                                            @publico
                                        </label>
                                    </div>
                                }
                            </div>
                            <div class="filtros">
                                <h5>Nivel de complejidad</h5>
                                @foreach (var dificultad in dificultades)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input dificultad checkbox-filtros" type="checkbox" value="@dificultad" id="dificultad-@dificultad">
                                        <label class="form-check-label" for="dificultad-@dificultad">
                                            @dificultad
                                        </label>
                                    </div>
                                }
                            </div>
                            <div class="filtros">
                                <h5>Días de la semana</h5>
                                @foreach (var dia in dias)
                                {

                                    <div class="form-check">
                                        <input class="form-check-input dia checkbox-filtros" type="checkbox" value="@dia" id='dia-@dia'>
                                        <label class="form-check-label" for="dia-@dia">
                                            @dia
                                        </label>
                                    </div>
                                }
                            </div>

                            <input type="text" name="filtrosEscogidos" id="filtrosEscogidos" value="" style="display: none;" />
                            <br />
                            <input type="submit" class="btn btn-primary boton-flitrar" value="Filtrar" onclick="guardarFiltrosEstadisticasInvolucramiento()" />
                        </div>

                    }
                </div>
            </div>
            <div class="col" style="float:right">
                <div class="row">
                    @{ if (ViewBag.DatosObtenidos != null && ViewBag.DatosObtenidos != "")
                        {
                            string publicoAnterior = "";
                            string complejidadAnterior = "";
                            JArray tabla = JArray.Parse(ViewBag.DatosObtenidos);
                            int indice = 0;
                            foreach (JObject grafico in tabla)
                            {
                                string publico = grafico.GetValue("Publico meta").ToObject<String>();
                                string complejidad = grafico.GetValue("Nivel de complejidad").ToObject<String>();
                                if (publico != publicoAnterior || complejidad != complejidadAnterior)
                                {
                                    if (indice % 2 == 0 && indice != 0)
                                    {
                                    @:</div>
                                }
                                if (indice % 2 == 0)
                                {
                                    @:<div class="row">
                                    }
                                    <div class="col-lg-5">
                                        @{string nuevaId = Regex.Replace((publico + " " + complejidad), " ", "-");}
                                        <canvas id=@nuevaId width="200" height="200"></canvas>
                                    </div>
                                    complejidadAnterior = complejidad;
                                    publicoAnterior = publico;
                                    indice++;
                                }

                            }

                        }
                        else
                        {
                            <div class="mensaje-falta-filtro-idioma">
                                <h2>No se encontraron actividades</h2>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

    </div>
</body>

</html>
<script type="text/javascript" src="~/Scripts/SeleccionadorCheckbox.js"></script>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/GraficosInvolucramiento.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    let selectorCheckboxDia = new SeleccionadorCheckbox('dia', '#filtrosEscogidos');
    let selectorCheckboxPublicos = new SeleccionadorCheckbox('publico-meta', '#filtrosEscogidos');
    let selectorCheckboxDificultad = new SeleccionadorCheckbox('dificultad', '#filtrosEscogidos');
    window.onload = function () {
        load(".checkbox-filtros");
        $("#checkAll").change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));
        });
    };

    let stringTabla = '@Html.Raw(ViewBag.DatosObtenidos)'
    if (stringTabla != "") {
        let tablaEstadisticas = JSON.parse(stringTabla);
        generarGraficos(tablaEstadisticas);
    }




</script>