@using System.Text.RegularExpressions;
@using Newtonsoft.Json.Linq;

<html>
<body>
    <div class="container-fluid contenedor-cuerpo">
        <h1>Estadísticas de involucramiento en las actividades por categorías y tópicos</h1>
        <hr />
        <div class="row">
            <div class="col-3">
                <div class="container contenedor-filtros ">
                    <div id="estadisticasController" data-request-url="@Url.Action("ObtenerListaTopicos", "Estadisticas")"></div>
                    @using (Html.BeginForm("EstadisticasCategoriaTopico", "Estadisticas", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <h3>Filtrar por:</h3>
                        <div class="form-group" style="padding-left: 0">
                            <label for="categoriaSeleccionada">Categorías</label>
                            @Html.DropDownList("categoriaSeleccionada", ViewData["Categorias"] as List<SelectListItem>, "---", new { @class = "form-select", @onchange = "agregarTagCategoria(this.value); filtrarTopicos('estadisticasController')" })
                        </div>
                        <input type="text" name="categoriasSeleccionado" id="categoriasSeleccionado" value="" style="display: none;" />
                        <div id="contenedor-categorias-seleccionado"></div>
                        <div class="form-group" style="padding-left: 0">
                            <label for="listaTopicos">Tópicos</label>
                            @Html.DropDownList("listaTopicos", new SelectList(string.Empty, "Value", "Text"), "---", new { @class = "form-select", @onchange = "agregarTagTopicoEstadistica(this.value)" })
                        </div>
                        <input type="text" name="topicosSeleccionados" id="topicosSeleccionados" value="" style="display: none;" />
                        <div id="contenedor-topicos-seleccionados"></div>
                        <input type="submit" class="btn btn-primary boton-flitrar" value="Filtrar" />
                    }
                </div>
            </div>
            <div class="col" style="float:right">
                <div class="row" " >
                    @if (ViewBag.PublicoCategoria != null && ViewBag.PublicoCategoria != "")
                    {
                    <div class="chart-container" style="position: relative; height:40vh; width:50vw; padding-bottom:30px">
                        <canvas id=graficoPublicoCategoria width="100" height="200"></canvas>
                    </div>
                    }
                    else
                    {
                    <div class="mensaje-falta-filtro-idioma">
                        <h2>No se encontraron actividades con las categorías seleccionadas</h2>
                    </div>
                    }
                </div>
                <div class="row">
                    @if (ViewBag.PublicoTopico != null && ViewBag.PublicoCategoria != "")
                    {
                    <div class="chart-container" style="position: relative; height:40vh; width:50vw">
                        <canvas id=graficoPublicoTopico width="100" height="200"></canvas>
                    </div>
                    }
                    else
                    {
                    <div class="mensaje-falta-filtro-idioma">
                        <h2>No se encontraron actividades con los tópicos seleccionadas</h2>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/FiltradorTopicos.js"></script>
<script type="text/javascript" src="~/Scripts/SeleccionadorMultiple.js"></script>
<script src="~/Scripts/GraficosInvolucramiento.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    let selectorMultipleTopicos = new SeleccionadorMultiple("#contenedor-topicos-seleccionados", "#topicosSeleccionados");
    let selectorMultipleCategorias = new SeleccionadorMultiple("#contenedor-categorias-seleccionado", "#categoriasSeleccionado");
    let estadisticasPublicoCategoria = '@Html.Raw(ViewBag.PublicoCategoria)'
    let estadisticasPublicoTopico = '@Html.Raw(ViewBag.PublicoTopico)'
    if (estadisticasPublicoCategoria != "") {
        let tablaPublicoCategoria = JSON.parse(estadisticasPublicoCategoria);
        generarGraficoPublicoCategorias(tablaPublicoCategoria);
    }
    if (estadisticasPublicoTopico != "") {
        let tablaPublicoTopico = JSON.parse(estadisticasPublicoTopico);
        generarGraficoPublicoTopicos(tablaPublicoTopico);
    }
</script>

