@model Planetario.Models.BuscadorPreguntasModel
<html>

<body>


    @if (ViewBag.MensajeErrorVerificacion != null)
    {
        <div class="alert-danger">
            <h3> @ViewBag.MensajeErrorVerificacion</h3>
        </div>
    }
<style>
    .column {
        float: left;
        width: 50%;
    }
</style>
<div class="row">

    <div class="column" style="width: 20%">
        <div class="container contenedor-buscar-preguntas">

            @using (Html.BeginForm("PreguntasFrecuentes", "Preguntas", FormMethod.Post,
            new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()


                <h1 id="titulo-buscador-preguntas">Busqueda de preguntas</h1>

                <div class="form-horizontal">
                    @foreach (var tuplaCategoriaTopicos in ViewBag.ListaCategorias)
                    {
                        <div class="titulo-categoria-buscador">
                            <h3>@tuplaCategoriaTopicos.Item1.Nombre</h3>
                            @Html.ListBoxFor(model => model.topicosFiltrados, (List<SelectListItem>)tuplaCategoriaTopicos.Item2, new { @class = "form-control lista-topicos-buscador" })
                            @Html.ValidationMessageFor(model => model.topicosFiltrados, "", new { @class = "text-danger" })
                        </div>
                    }


                    <input type="submit" class="btn btn-primary" value="Buscar" />
                </div>

            }
        </div>
    </div>
    <div class="column">
        <div class="container contenedor-preguntas-respuestas">
            <h1>Preguntas y respuestas</h1>
            <hr />
            <div class="row">
                <div class="col">
                    @foreach (var categoria in ViewBag.CategoriasYTopicos)
                    {
                        <div class="accordion" id="acordion-categorias">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="categoria">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=#@categoria.Nombre aria-expanded="false" aria-controls="collapseOne">
                                        @categoria.Nombre
                                    </button>
                                </h2>
                                <div id=@categoria.Nombre class="accordion-collapse collapse" aria-labelledby="categoria" data-bs-parent="#acordion-categorias">
                                    <div class="accordion-body">
                                        <div class="list-group">
                                            @foreach (var topico in categoria.Topicos)
                                            {
                                                <h2 class="accordion-header" id="categoria">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=#@topico aria-expanded="false" aria-controls="collapseOne">
                                                        @topico
                                                    </button>
                                                </h2>
                                                <div id=@topico class="accordion-collapse collapse" aria-labelledby="topico" data-bs-parent="#acordion-topicos">
                                                    <div class="accordion-body">
                                                        @foreach (var pregunta in ViewBag.Preguntas)
                                                        {
                                                            if (pregunta.Categoria == categoria.Nombre && pregunta.Topicos.Contains(topico))
                                                            {
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header" id="categoria">
                                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=#@pregunta.PreguntaHecha aria-expanded="false" aria-controls="collapseOne">
                                                                            @pregunta.PreguntaHecha
                                                                        </button>
                                                                    </h2>
                                                                    <div id=@pregunta.PreguntaHecha class="accordion-collapse collapse" aria-labelledby="categoria" data-bs-parent="#acordion-preguntas">
                                                                        <div class="accordion-body">
                                                                            <p>@pregunta.Respuesta</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                    
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-verificacion-identidad">
        Crear nueva pregunta
    </button>

    <div class="modal fade" id="modal-verificacion-identidad" tabindex="-1" role="dialog" aria-labelledby="modal-verificacion-identidadTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-verificacion-identidadTitle">Verificación de identidad de funcionario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("VerificarFuncionario", "Preguntas", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal formulario-edicion-funcionarios">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FuncionarioCrearPregunta.CodigoFuncionario)
                                @Html.TextBoxFor(model => model.FuncionarioCrearPregunta.CodigoFuncionario, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FuncionarioCrearPregunta.CodigoFuncionario, "", new
                                {
                                    @class
                               = "text-danger"
                                })
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary boton-edicion-funcionarios" value="Crear" />
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>


</html>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('option').mousedown(function (e) {
                e.preventDefault();
                var originalScrollTop = $(this).parent().scrollTop();
                console.log(originalScrollTop);
                $(this).prop('selected', $(this).prop('selected') ? false : true);
                var self = this;
                $(this).parent().focus();
                setTimeout(function () {
                    $(self).parent().scrollTop(originalScrollTop);
                }, 0);
                return false;
            });
        });
    </script>
}