@model Planetario.Models.LoginModel

<!DOCTYPE html>
<html id="html-login">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="body-login">
    @if(ViewBag.MensajeError != null)
            {
                <h1>@ViewBag.MensajeError</h1>
            }
    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="container justify-content-center">
            <div class="container justify-content-center">
                <div class="card text-center mb-3  container-cards" style="width:90%">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="~/Funcionarios/InicioSesion"><img src="~/imagenes/astronauta-login.jpg" class="img-fluid rounded-start" alt="..."></a>
                        </div>
                        <div class="col-md-8">
                            <div class="container-fluid justify-content-center formulario-login">
                                <div style="color:red;">@Html.ValidationSummary()</div>
                                <div class="card-body">
                                    <h1>Iniciar sesión</h1>
                                    <div class="form-group">
                                        @Html.LabelFor(loginModel => loginModel.NumeroIdentificacion)
                                        <br />
                                        @Html.TextBoxFor(loginModel => loginModel.NumeroIdentificacion, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(loginModel => loginModel.NumeroIdentificacion, "", new { @class = "text-danger" })
                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(loginModel => loginModel.Contrasena)
                                        <br />
                                        @Html.PasswordFor(loginModel => loginModel.Contrasena, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(loginModel => loginModel.Contrasena, "", new { @class = "text-danger" })
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="Entrar" />
                                </div>
                                <h7 font-size:0.8rem">Si tiene problemas favor contactar al 72858912 con Dominic</h7>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script>
    $("#footer").css("display:none")
</script>


