<html>
<head></head>
<body>
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-8">
                <div class="titulo-actividad">
                    <h1> @ViewBag.Actividad.Titulo</h1>
                    <h3>@ViewBag.Actividad.TipoDeActividad</h3>
                    <hr />
                </div>
                <table class="table table-secondary">
                    <tbody>
                        <tr>
                            <td>
                                <ul class="datos-actividad">
                                    <li>Fecha: @ViewBag.Actividad.Fecha</li>
                                    <li>Precio en colones: @ViewBag.Actividad.PrecioSugerido</li>
                                    <li>Categoría: @ViewBag.Actividad.Categoria</li>
                                    <li>
                                        Tópicos:
                                        @{
                                            var numeroTopicos = ViewBag.Actividad.Topicos.Count - 1;
                                            var ultimoTopico = ViewBag.Actividad.Topicos[numeroTopicos];
                                        }
                                        @foreach (var topico in ViewBag.Actividad.Topicos)
                                        {
                                            @topico
                                            if (topico != ultimoTopico)
                                            {
                                                @:-
                                            }
                                        }
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="datos-actividad">
                                    <li>Duración en minutos: @ViewBag.Actividad.Duracion</li>
                                    <li>Complejidad: @ViewBag.Actividad.NivelDeComplejidad</li>
                                    <li>
                                        Público meta:
                                        @{
                                            var numeroPublicoMeta = ViewBag.Actividad.PublicoMeta.Count - 1;
                                            var ultimoPublicoMeta = ViewBag.Actividad.PublicoMeta[numeroPublicoMeta];
                                        }
                                        @foreach (var publicoMeta in ViewBag.Actividad.PublicoMeta)
                                        {
                                            @publicoMeta
                                            if (publicoMeta != ultimoPublicoMeta)
                                            {
                                                @:-
                                            }
                                        }
                                    </li>
                                </ul>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="descripcion-actividad">
                    <h3>Descripción:</h3>
                    <p>
                        @ViewBag.Actividad.Descripcion
                    </p>
                    @if (ViewBag.VideoEmpotrado != null && ViewBag.VideoEmpotrado != "")
                    {
                        <div class="video-container">
                            <iframe style="align-content:center" width="560" height="315" src="@ViewBag.VideoEmpotrado" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    }
                </div>
            </div>
            <div class="col justify-content-end" style="margin-top:55px; float:right; margin-left:50px">
                <h5>Actividades recomendadas</h5>
                @foreach (var actividadRecomendada in ViewBag.ActividadesRecomendadas)
                {
                    <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 25rem; border-radius: 50px">
                        <div class="card-body">
                            <a href=@Url.Action("Actividad", "Actividad", new { nombre = actividadRecomendada.Item1, fecha = actividadRecomendada.Item2})>
                                <h5 class="card-title">@actividadRecomendada.Item1</h5>
                                <h5 class="card-title">@actividadRecomendada.Item2</h5>
                            </a>
                        </div>
                    </div>

                }

            </div>
        </div>

        
    </div>
</body>
</html>
