@model Planetario.Models.ActividadModel
<body>
    @{
        ViewBag.Title = "ActividadesPendientes";
    }
    @if (ViewBag.Message != null) {
        <div class="alert-success">
            <h3> @ViewBag.Message </h3>
        </div>
    }
    @foreach (var actividad in ViewBag.Actividades) {
        <h1>@actividad.Titulo</h1>
        <p>Fecha: @actividad.Fecha</p>
        <p>Descripcion: @actividad.Descripcion</p>
        <p>Precio sugerido: @actividad.PrecioSugerido</p>
        <p>Duracion: @actividad.Duracion</p>
        <p>Estado: @actividad.Estado</p>
        <p>Correo: @actividad.Correo</p>
        <p>
            Público meta:
            @{
                var numeroPublicoMeta = actividad.PublicoMeta.Count - 1;
                var ultimoPublicoMeta = actividad.PublicoMeta[numeroPublicoMeta];
            }
            @foreach (var publicoMeta in actividad.PublicoMeta)
            {
                @publicoMeta
                if (publicoMeta != ultimoPublicoMeta)
                {
                    @:-
                }
            }
        </p>
        <p>Nivel de complejidad: @actividad.NivelDeComplejidad</p>
        <p>Tipo de actividad: @actividad.TipoDeActividad</p>
        <p>Topicos: </p>
        <ul>
            @foreach (var topico in actividad.Topicos) {
                <li> @topico </li>
            }
        </ul>
        <table>
            <tr>
                <td>
                    @using (Html.BeginForm("AprobarActividad", "Actividad", FormMethod.Post, new { })) {
                        @Html.HiddenFor(m => m.Titulo, new { Value = actividad.Titulo });
                        @Html.HiddenFor(m => m.Fecha, new { Value = actividad.Fecha });
                        <input type='Submit' class="btn btn-primary" value='Aprobar' />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("RechazarActividad", "Actividad", FormMethod.Post, new { })) {
                        @Html.HiddenFor(m => m.Titulo, new { Value = actividad.Titulo });
                        @Html.HiddenFor(m => m.Fecha, new { Value = actividad.Fecha });
                        <input type='Submit' class="btn btn-primary" value='Rechazar' />
                    }
                </td>
            </tr>
        </table>
        <hr />
    }
</body>
