@{
    ViewBag.Title = "Ventana de pago";
    List<SelectListItem> provincias = new List<SelectListItem>() { new SelectListItem { Text = "San José" }, new SelectListItem { Text = "Alajuela" }, new SelectListItem { Text = "Heredia" } };
}

@if (ViewBag.Message != null)
{
    <div class="alert-danger">
        <h3> @ViewBag.Message </h3>
    </div>
}

<h3 style="margin-top:35px">Ventana de pago</h3>
<hr />

<div class="container-fluid justify-content-center">
    <div class="row">
        <div class="col" style="margin-left: 35px">
            <h3>Información personal:</h3>
            <div class="card rounded-3">
                <div class="card-body">
                    <p class="card-text">Nombre:@ViewBag.TipoDePago @ViewBag.Visitante.Nombre @ViewBag.Visitante.PrimerApellido</p>
                    <p class="card-text">Identificación: @ViewBag.Visitante.NumeroIdentificacion</p>
                    <p class="card-text">Correo: @ViewBag.Visitante.Correo</p>
                </div>
            </div>
        </div>

        <div class="col" style="margin-left: 100px; margin-right: 40px;">
            <h3>Resumen de compra:</h3>
            <div class="row">
                <div class="card rounded-3" style="width:100%;">
                    <div class="card-body">
                        @ViewBag.ResumenCompra.GenerarResumen()
                        @if (ViewBag.TipoPago == "producto")
                        {
                            <div id="espacios-descuentos">
                                <hr />
                                <div class="row">
                                    <h6>Descuentos</h6>
                                </div>
                                <div class="row">
                                    <div class="col" id="nombre-cupon"></div>
                                    <div class="col" id="descuento-aplicado"></div>
                                </div>
                            </div>
                        }
                        <hr />
                        <div class="row h5">
                            <div class="col">
                                Precio final+IVA:
                            </div>
                            <div class="col" id="precio-total">
                                ₡@ViewBag.ResumenCompra.PrecioTotal
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.TipoPago == "producto")
            {
                <div class="row mt-2">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="campo-ingreso-codigo" placeholder="Código de cupon">
                        <button class="btn btn-primary m-0" type="button" id="boton-aplicar-cupon" data-request-url="@Url.Action("AplicarDescuento","Pago")" onclick="aplicarDescuento()" style="border-radius:8px;">Aplicar cupón</button>
                    </div>
                </div>
                <div class="row ms-2" id="errorCodigoDescuento">

                </div>
            }
        </div>
    </div>
    <div class="row mt-4">
        <div class="col" style="margin-left: 40px">
            @if (ViewBag.TipoPago == "producto")
            {
                <h3>Método de entrega</h3>
                <div class="card rounded-3">

                    <div class="card-body">
                        <div class="row text-start">
                            <div class="col">
                                <div class="form-check">
                                    @Html.RadioButton("tipoDeEntrega", "recoger", new { @onchange = "DesactivarOpcionesDireccion()" }) <span>Recoger en tienda</span>
                                </div>
                                <div class="form-check">
                                    @Html.RadioButton("tipoDeEntrega", "domicilio", new { @onchange = "ActivarOpcionesDireccion()" }) <span>A domicilio</span>
                                </div>
                            </div>
                        </div>
                        <div id="contenedor-direccion-domicilio" style="display:none;">
                            <hr />
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-auto">
                                    @Html.DropDownList("provincias", provincias, "*Provincia", new { @class = "form-select rounded", @onchange = "CargarCantones(this.value)", @id = "provincias" })
                                    @Html.ValidationMessage("ErrorProvincia", new { @class = "text-danger" })
                                </div>
                                <div class="col-auto">
                                    @Html.DropDownList("cantones", new SelectList(string.Empty, "Value", "Text"), "*Cantón", new { @class = "form-select rounded", @onchange = "CargarDistritos(this.value)", @id = "cantones" })
                                    @Html.ValidationMessage("ErrorCantones", new { @class = "text-danger" })
                                </div>
                                <div class="col-auto">
                                    @Html.DropDownList("distritos", new SelectList(string.Empty, "Value", "Text"), "*Distrito", new { @class = "form-select rounded", @id = "distritos" })
                                    @Html.ValidationMessage("ErrorDistrito", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row text-start" style="margin-top: 20px;">
                                <h9>*Detalles</h9>
                                <div class="form-floating">
                                    <div class="form-floating">
                                        @Html.TextArea("detalles", new { @class = "form-control", @rows = "5" })
                                        @Html.ValidationMessage("ErrorDetalles", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        
        <div class="col" style="margin-left:100px; margin-right:35px;">
            @using (Html.BeginForm("VentanaDePago", "Pago", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <h3>Información de pago</h3>
                <div class="row">
                    <div class="card rounded-3" style="width:100%;">
                        <div class="row">
                            <div class="col-7"></div>
                            <div class="col" style="margin-top:15px;">
                                <div class="row"><img src="~/imagenes/tarjetascredito.png" style="width:100%"></div>
                            </div>
                        </div>

                        <div class="col" style="margin-left:20px;margin-right:20px;margin-top:20px">
                            <label class="numeroTarjeta" for="numero-tarjeta">Número de Tarjeta</label>
                            <input type="text" class="form-control" id="numeroTarjeta" name="numeroTarjeta" placeholder="0000-0000-0000-0000" maxlength="16" required autofocus inputmode="numeric" pattern="[0-9]{16,16}">
                        </div>
                        <div class="col" style="margin-top: 30px; margin-left: 20px; margin-right: 20px; ">
                            <label for="nombre-en-tarjeta" class="form-label"> Nombre en la tarjeta </label>
                            <input type="text" id="nombreTarjeta" class="form-control" name="nombreTarjeta" placeholder="Rigoberto Gutierrez" required autofocus />
                        </div>
                        <div class="row">
                            <div class="col" style="margin-top: 30px; margin-left: 20px; margin-right: 0px; margin-bottom: 20px ">
                                <div class="row">
                                    <label for="mes-expiracion" class="form-label"> Expiración </label>
                                    <div class="col">
                                        <select id="mes-expiracion" class="form-select" required>
                                            <option id="opcion-base-mes" value="" default="default" selected="selected">Mes</option>
                                            <option value="1">01</option>
                                            <option value="2">02</option>
                                            <option value="3">03</option>
                                            <option value="4">04</option>
                                            <option value="5">05</option>
                                            <option value="6">06</option>
                                            <option value="7">07</option>
                                            <option value="8">08</option>
                                            <option value="9">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select id="anho-expiracion" class="form-select" required>
                                            <option id="opcion-base-anho" value="" default="default" selected="selected">Año</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-3" style="margin-top: 30px; margin-left: 20px; margin-right: 20px;margin-bottom:20px">
                                <label for="cvc" class="form-label">‎‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎ </label>
                                <input type="text" class="form-control" id="cvc" name="cvc" placeholder="CVC" maxlength="3" size="3" required autofocus />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3" style="display:none">
                    <input type="hidden" id="tipoPago" name="tipoPago" value="@ViewBag.TipoPago">
                </div>
                <div class="mb-3" style="display:none">
                    <input type="hidden" id="infoCompra" name="infoCompra" value="@ViewBag.ResumenCompra.SerializarAJson()">
                </div>
                <div class="mb-3" style="display:none">
                    <input type="hidden" id="identificacionVisitante" name="identificacionVisitante" value="@ViewBag.Visitante.NumeroIdentificacion">
                </div>
                <div class="row">
                    <input type="submit" id="boton-pagar" class="btn btn-primary boton-actividades" value="Finalizar y pagar" style="margin-top:25px; width:25%" />
                </div>
            }
        </div>

    </div>
</div>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/ManejadorOpcionesEntrega.js"></script>
<script>
    let dropdownAño = document.getElementById('anho-expiracion');
    let contadorAños = new Date().getFullYear();
    let añoLimite = contadorAños + 5;
    while (contadorAños <= añoLimite) {
        let opcionAño = document.createElement('option');
        opcionAño.text = contadorAños;
        opcionAño.value = contadorAños;
        dropdownAño.add(opcionAño);
        contadorAños += 1;
    }
</script>

<script src="~/node_modules/payform/dist/jquery.payform.min.js" charset="utf-8"></script>
<script src="~/Scripts/ValidadorDeTarjetas.js" charset="utf-8"></script>

<script>
    var input = document.getElementById('numeroTarjeta');
    input.oninvalid = function (event) {
        event.target.setCustomValidity('Inserte un número de tarjeta válido')
    }
    input.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
    })
</script>
<script>
    var input = document.getElementById('nombreTarjeta');
    input.oninvalid = function (event) {
        event.target.setCustomValidity('Inserte un nombre válido')
    }
    input.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
    })
</script>

<script>
    var input = document.getElementById('mes-expiracion');
    input.oninvalid = function (event) {
        event.target.setCustomValidity('Inserte un mes válido')
    }
    input.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
    })
</script>
<script>
    var input = document.getElementById('anho-expiracion');
    input.oninvalid = function (event) {
        event.target.setCustomValidity('Inserte un año válido')
    }
    input.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
    })
</script>

<script>
    var input = document.getElementById('cvc');
    input.oninvalid = function (event) {
        event.target.setCustomValidity('Inserte un cvc válido de 3 dígitos')
    }
    input.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
    })
</script>
<script src="~/Scripts/AplicarDescuento.js"></script>
<script>
    let campoIngresoCodigo = document.getElementById("campo-ingreso-codigo");

    $("espacios-descuentos").hide();
</script>
